* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-conteiner {
display: flex;
justify-content: center;
padding: 10px;
background-color: lightgrey;
font-size: 20px;
font-weight: bold;
}

.nav-list {
display: flex;
list-style-type: none;
}

.nav-item {
margin-right: 20px;
}
.link {
    text-decoration: none;
    color: rgb(66, 65, 65);
}
.link:hover {
    border-bottom: 2px white solid;
}
h1 {
    width:  100%;
    text-align: center;
    color: rgb(19, 5, 56);
}
.conteiner {
  display: flex;  
  flex-wrap: wrap;
  margin: 10px;
}
.card {
width: 200px;
border: 2px solid gray;
text-align: center;
border-radius: 5px;
padding: 10px;
margin: 15px;
display: flex;
flex-direction: column;
align-items: center;
}
.card:hover { 
border-color: rgb(74, 213, 255);
}
.card img { 
width: 150px;
height: 150px;
object-fit: cover;
margin-bottom: 10px;
}
.card-title {
font-weight: bold;
margin-bottom: 2px;
}
.card-rating {
    margin-bottom: 2px;
}
.card-price {
font-size: 10px;
margin-bottom: 10px;
}
.add-to-cart {
background-color: rgb(74, 213, 255);
color: rgba(19, 5, 56);
border: none;
padding: 8px 16px;
font-size: 14px;
border-radius: 5px;
}
.add-to-cart:hover {
    background-color: rgb(172, 169, 169);
}
